* {
  margin: 0;
  padding: 0;
  outline: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: 0;
}

ol, ul {
  list-style: none;
}

html {
  font-size: 100.01%;
}

/* ========= Header =========== */
header{
  background: #efcb8a;
}
/* ========== Components structure ========= */
.wrapper{
  position: relative;
  height: 100vh;
  overflow: hidden;
}
main{
  display: flex;
  flex-flow: row nowrap;
}

.place-list{
  width: 400px;
}
