* {
  margin: 0;
  padding: 0;
  outline: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: 0;
}

ol, ul {
  list-style: none;
}

html {
  font-size: 100.01%;
}

/* Header */

header {
  position: relative;
  z-index: 1000;
  background: #efcb8a;
  height: 50px;
  display: table;
  width: 100%;
  padding: 0 0 0 20px;
  background: #0c88ff;
  background: -moz-linear-gradient(-45deg, #0c88ff 0%, #ddf1f9 65%, #feffff 100%);
  background: -webkit-linear-gradient(-45deg, #0c88ff 0%, #ddf1f9 65%, #feffff 100%);
  background: linear-gradient(135deg, #0c88ff 0%, #ddf1f9 65%, #feffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0c88ff', endColorstr='#feffff', GradientType=1);
  -webkit-box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.75);
}

h1 {
  display: table-cell;
  vertical-align: middle;
  font: normal 24px Fredoka One, cursive;
  color: #fff;
  text-shadow: 1px 1px 3px #000;
}

/* Components structure */

.wrapper {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

main {
  display: flex;
  flex-flow: row nowrap;
}

.place-list {
  width: 500px;
  order: 1;
  -webkit-box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.75);
  position: relative;
  z-index: 900;
  background: #f7f7f7;
  position: fixed;
  overflow-y: scroll;
  top: 50px;
  bottom: 0;
}

.map-holder {
  position: relative;
  order: 2;
  height: calc(100vh - 50px);
  width: 100%;
}

/* Places List View */

.place-in-list {
  width: 100%;
  text-align: left;
  padding: 5px;
}

/* Filter */

label {
  font: normal 24px Fredoka One, cursive;
  color: #fff;
  text-shadow: 1px 1px 3px #000;
  display: block;
  width: 100%;
  padding: 20px;
  background: #afd8ff;
  background: -moz-radial-gradient(center, ellipse cover, #afd8ff 0%, #0c88ff 100%);
  background: -webkit-radial-gradient(center, ellipse cover, #afd8ff 0%, #0c88ff 100%);
  background: radial-gradient(ellipse at center, #afd8ff 0%, #0c88ff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#afd8ff', endColorstr='#0c88ff', GradientType=1);
}

select {
  font: normal 16px Fredoka One, cursive;
  margin: 0 0 0 20px;
}

/* Place Details View */

.close-details {
  float: right;
  display: block;
  width: 50px;
  height: 50px;
}

/* Spinner rotattion animation */

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.load-spinner {
  background: url(./icons/loading-circles.png) no-repeat 0 50px;
  background-size: 48px;
  margin: 0 auto;
  height: 148px;
  width: 48px;
  animation: spin 1s linear infinite;
}

/* Mobile Version */

@media only screen and (max-width: 800px) {
  /* Header */
  header {
    position: fixed;
  }
  /* Components */
  .wrapper {
    height: 100%;
  }
  .map-holder {
    order: 1;
    margin: 50px 0 0 0;
    position: fixed;
    width: 100%;
    height: 350px;
  }
  .place-list {
    order: 2;
    width: 100%;
    position: relative;
    margin-top: 400px;
  }
}
